.blog-post
  if post.get('featured_image')
    a(href="/review/" + post.get('slug'))
      .blog-post__header-image(style="background-image: url(#{post.get('featured_image')}?w=1400)")
  .blog-post__container
    a(href="/review/" + post.get('slug'))
      h1.blog-post__title=post.get('title')

    .blog-post__main
      .blog-post__date=post.getFormattedDate()

      .blog-post__content!=post.get('content')

      .blog-post__meta
        .blog-post__tags
          for tag in post.get('tags')
            a.call-sign.call-sign--sm(
              data-contract_id=tag.name
              href="/investing/futures/" + tag.name
            )
              .call-sign__icon
                include ../../../public/images/callsign.svg
              .call-sign__id
                .v-outer
                  .v-inner=tag.name

        .blog-post__author
          .blog-post__author__name=post.get('author').first_name + ' ' + post.get('author').last_name
          .blog-post__author__description=post.getAuthorDescription()
