table.contract-list.is-large
  thead
    tr
      td
      td Name
      td Buy
      td Sell
      td Gain
  tbody
    for contract, index in contracts
      tr(class= index == 0 ? 'is-active' : '')
        td #{contract.get('contract')}
        td
          a(href="#{contract.href()}") #{contract.get('title')}
          p.is-not-displayed=contract.get('abstract')
        td #{contract.get('ask')}Å
        td #{contract.get('bid')}Å
        td.js-gain-color(data-gain="#{contract.get('gain_percent')}")
          | #{contract.get('gain_percent')}%