table.contract-list.is-large
  thead
    tr
      td Symbol
      td Name
      td Buy Price
      td Sell Price
      td Gain
  tbody
    for contract, index in contracts.models
      tr(class= index == 0 ? 'is-active' : '')
        td(data-th="callsign") #{contract.get('contract')}
        td(data-th="name")
          a(href="#{contract.href()}") #{contract.get('title')}
          p=contract.get('abstract')
        td(data-th="buy") #{contract.get('ask')}Å
        td(data-th="sell") #{contract.get('bid')}Å
        td(data-th="gain").js-gain-color(data-gain="#{contract.get('gain_percent')}")
          | #{contract.get('gain_percent')}%
