extends ../../../components/layout/templates/index
block vars
  - pageTitle = contract.get('contract')
block body
  section.contract__about.container
    .contract__callsign
      include ../../../components/callsign/templates/index
    .contract__copy
      h2.contract__title= contract.get('title')
      .contract__abstract= contract.get('abstract')
      .contract__meta
        .contract__value
          .contract__meta__label Value
          h3.contract__meta__value #{contract.get('bid')}Å
        .contract__value
          .contract__meta__label Gain
          h3.contract__meta__value #{contract.get('gain_percent')}%
  section.contract__tick-chart
    #chart
      //- rendered via client
  .container.container--contract
    section.contract__news
      h4.section-header Recent News
      include ../../../components/news_list/templates/index

block scripts
  script( src=asset('/assets/contract.js') )