extends ../../../components/layout/templates/index
block vars
  - pageTitle = contract.id
block body
  section#chart.contract__tick-chart
    //- rendered via client
  .container.container--contract
    section.contract--transactions.is-centered
      if user
        if user.canMakeTransaction('buy', contract).success
          a(href="#{contract.href()}/buy").button.js-buy Buy @ #{contract.get('ask')}
        if user.canMakeTransaction('sell', contract).success
          a(href="#{contract.href()}/sell").button.js-sell Sell @ #{contract.get('bid')}
    section.contract__table
      //- - contracts = [contract]
      //- include ../../../components/contract_table/index
    section.contract__news
      h4.section-header Recent News
      include ../../../components/news_list/templates/index

block scripts
  script( src=asset('/assets/contract.js') )