- mark = contract.get('gain_percent') > 0 ? "+" : ""
.callsign__bubble(
  data-contract_id=contract.get('contract')
  style="background-color:#" + bgColor
)
  h6 Trade
  a.callsign__title(href=contract.href())= contract.get('title')
  .callsign__gain #{mark}#{contract.get('gain_percent')}%

  .callsign__prompt
    .callsign__mark
      include ../../../../public/images/A_logo_20px.svg
    h6
      a(href="/signup") Sign Up&nbsp;
      | or&nbsp;
      a(href="/login") Log in&nbsp;
      br
      | to start trading on this future
