extends ../../../components/layout/templates/index

block vars
  - bodyClass = 'is-dark'

block tabs
  +tab("/portfolio/" + account.id, "portfolio")
  if user && account.id == user.id
    +tab("/portfolio/" + account.id + "/goods", "goods")
    +tab("/portfolio/" + account.id + "/alerts", "alerts")

block body
  include account-top
  include ../../../components/tabs/templates/index
  if positions.length
    #portfolio-treemap
      //- rendered on the client
  .container.container--portfolio
    if positions.length
      table.portfolio-list.account-list
        thead
          tr
            td Symbol
            td Future
            td Shares
            td Current Price
            td Purchase Price
            td Total Gain
            td Market Value
        tbody
          for position in positions.models
            tr.portfolio-list__position
              td.is-active(data-th="Symbol")
                - contract = position
                include ../../../components/callsign/templates/index
              td.is-active.future-title(data-th="future") #{position.get('title')}
              td.is-active(data-th="no. of shares") #{position.get('qty')}
              td.is-active(data-th="current price") #{position.formattedPrice('current_price')}
              td.is-active(data-th="purchase price") #{position.formattedPrice('avg_price')}
              td.is-active.js-gain-color(data-th="total gain / loss" data-gain="#{position.get('gain_loss')}") #{position.formattedPrice('gain_loss')}
              td.is-active.js-gain-color(data-th="market value" data-gain="#{position.get('gain_loss')}") #{position.formattedPrice('current_value')}

    else
      .error.is-centered
        h3 No positions yet

block scripts
   script( src=asset('/assets/portfolio.js')  )
