//- tr
//-   td
//-   td Current Price
//-   td Purchase Price
//-   td Total Gain/Loss
//-   td Shares
//-   td Market Value
//-   td

tr.portfolio-list__position
  td: a(href="/contract/#{position.get('contract')}", target="_blank") #{position.get('contract')}
  td Å#{position.get('bid')}
  td Å#{position.get('avg_price')}
  td.green %#{position.gainOrLoss()}
  td #{position.get('qty')}
  td.green Å#{position.value()}
  td