//- tr
//-   td
//-   td Current Price
//-   td Purchase Price
//-   td Total Gain/Loss
//-   td Shares
//-   td Market Value
//-   td

tr.portfolio-list__position
  td: a(href="/contract/#{position.get('contract')}") #{position.get('contract')}
  td #{position.get('bid')}Å
  td #{position.get('avg_price')}Å
  td.js-gain-color(data-gain="#{position.gainOrLoss()}") %#{position.gainOrLoss()}
  td #{position.get('qty')}
  td.js-gain-color(data-gain="#{position.gainOrLoss()}") #{position.value()}Å
  td