//- tr
//-   td
//-   td Current Price
//-   td Purchase Price
//-   td Total Gain/Loss
//-   td Shares
//-   td Market Value
//-   td

tr.portfolio-list__position
  td(data-th="callsign"): a(href="/investing/futures/#{position.get('contract')}") #{position.get('contract')}
  td(data-th="current price") #{position.get('bid')}Å
  td(data-th="purchase price") #{position.get('avg_price')}Å
  td(data-th="total gain / loss").js-gain-color(data-gain="#{position.get('gain_percent')}") %#{position.get('gain_percent')}
  td(data-th="no. of shares") #{position.get('qty')}
  //- td(data-th="market value").js-gain-color(data-gain="#{position.get('gain_percent')}") #{positions.value()}Å
