if item.get('source')
  .news____grid-item(data-id=item.id data-title=item.get('title'))
    .news__grid-item__relative-date= item.updatedAtAgo()

    h3.news__grid-item__title= item.get('title')

    .news__grid-item__meta
      .news__grid-item__source-domain(data-href=item.get('source').url)= item.sourceDomain()
