section.future-circles
  for contract, index in contracts.models
    a.future-circle(href="#{contract.href()}" id="contract_#{contract.get('contract')}")
      .future-circle__circle-outer
        .future-circle__circle-inner
          .future-circle__circle.js-gain-bg-color(
            data-gain="#{contract.get('gain_percent')}"
          )
      .future-circle__callsign #{contract.get('contract')}
      .future-circle__title #{contract.get('title')}
      .future-circle__bid-ask #{contract.get('ask')}Å / #{contract.get('bid')}Å