section.future-circles
  for contract, index in contracts.models
    a.future-circle(href="#{contract.href()}" id="contract_#{contract.get('contract')}")
      .future-circle__circle-outer
        .future-circle__circle-inner
          .future-circle__circle.js-gain-bg-color(
            data-gain="#{contract.get('gain_percent')}"
          )
      .future-circle__callsign
        include ../../../components/callsign/templates/index
      .future-circle__title #{contract.get('title')}
