- showBorder = shouldSetBorder == true ? true :  false

.call-sign(
  data-contract_id=contract.get('contract')
  data-item_id=itemId
  data-item_title=itemTitle
  data-show_border="#{showBorder}"
)
  .call-sign__icon
    include ../../../public/images/callsign.svg
  .call-sign__id #{contract.get('contract')}

- shouldSetBorder = false
