.v-inner
  .modal-body--confirm-trade.center
    h2
      span.capitalize #{transaction}&nbsp;
      strong #{contract.formatPrice('bid')}Å&nbsp;
      | of&nbsp;
      strong #{contract.get('title')}&nbsp;
      | based on&nbsp;
      strong #{title}
      | ?

    form(method="post", action="#{contract.href()}/#{transaction}/confirm")
      if block_id
        input(type="hidden", name="block_id", value="#{block_id}")
      if is_new
        input(type="hidden", name="is_new", value="#{is_new}")
      .field
        input.comment(type="text", name="comment", placeholder="Add a comment (optional)", maxlength="140")
      input.button--modal(type="submit", value="Trade")
