if good.id
  .goods____grid-item
    img.goods__grid-item__image(class="grid_img", src= "/images/goods/" + good.id + ".png")
    .goods__grid-item__text
      .goods__grid-item__header
        .goods__grid-item__title= good.title

        if good.contributor
          .goods__grid-item__contributor
          | Contributed by #{good.contributor}

      .goods__grid-item__description!= markdown(good.description)

    .goods__grid-item__meta
      form(method="POST", action="/goods/purchase/#{good.id}")
        button.button--modal(type="submit") Buy for #{numeral(good.price).format('0,0')}Å

          input(type="hidden", name="good_id", value="#{good.id}")
          input(type="hidden", name="price", value="#{good.price}")
          input(type="hidden", name="comment", value="#{account.id}+purchased+#{good.id}+for+#{good.price}")
